<div class="wrapper fadeInDown" id="register-form">
    <div id="formContent">
        <h2 class="active">Are you sure you want to delete this book!</h2>

        <form method="post" class="form">
            <input type="text" class="fadeIn second" name="title" value="{{title}}" placeholder="Title" disabled disabled>
            <input type="text" class="fadeIn second" name="author" value="{{author}}" placeholder="Author" disabled>
            <input type="text" class="fadeIn second" name="genre" value="{{genre}}" placeholder="Genre" disabled>
            <input type="text" class="fadeIn third" name="publisher" value="{{publisher}}" placeholder="Publisher" disabled>
            <textarea class="fadeIn third" name="description" placeholder="Description" disabled>{{description}}</textarea>
            <input type="submit" class="fadeIn fourth" value="Delete">
        </form>
    </div>
</div>