<section>
    {{#each books}}
        <article>
            <img src="{{image}}" alt="">
            <div>
                <h3>Author: {{author}}</h3>
                <h3>Genre: {{genre}}</h3>
                <p>{{description}}</p>
            </div>
            <a href="/user/remove/favourite/{{_id}}">Remove from favourite</a>
        </article>
    {{/each}}
</section>