<section id="user-takenBooks">
    <h2>Taken books</h2>
    <div class="spacer">
        {{#each books}}
            <article class="book">
                <figure>
                    <img src="data:{{image.contentType}};base64,{{image.data}}" alt="">
                </figure>
                <div class="book-info">
                    <h3>Title: <a href="/book/details/{{_id}}">{{title}}</a></h3>
                    <h3>Author: {{author}}</h3>
                    <h3>Genre: {{genre}}</h3>
                    <h3>Publisher: {{publisher}}</h3>
                    <h3>Return Date: {{date}}</h3>
                </div>
            </article>
        {{/each}}
    </div>
</section>