<section id="home">
    <h1>School Library</h1>
    <p>Welcome to our book library</p>
    <img src="/img/logo.png" alt="">
</section>
<section id="latest-books">
    <h2>Latest books</h2>
    <div class="spacer">
        {{#each books}}
            <article class="book">
                <figure>
                    <img src="data:{{image.contentType}};base64,{{image.data}}" alt="Book image">
                </figure>
                <div class="book-info">
                    <h3>Title: <a href="/book/details/{{_id}}">{{title}}</a></h3>
                    <h3>Genre: {{genre}}</h3>
                    <h3>Author: {{author}}</h3>
                    <h3>Publisher: {{publisher}}</h3>
                </div>
            </article>
        {{else}}
            <h3>No books in database!</h3>
        {{/each}}
    </div>
</section>